* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  background-color: #222831;
}

/* Header styles */
header {
  width: 100%;
  height: 44px;
}
header h3 {
  padding-top: 11px;
  color: #00ADB5;
}
header #player1 {
  float:left;
  padding-left: 1rem;
}
header #player2 {
  float:right;
  padding-right: 1rem;
}

/* Reset Btn */
.resetBtnDiv{
  width: 100%;
  text-align: center;
}
 #reset {
  text-align: center;
  padding: 3px;
  background-color: #4E525A;
  color: #00ADB5;
  border-radius: 5px;
}
#reset:hover {
  background-color: #7A7E83;
}

/* Grid styles */
.TicTacToe-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem;
  padding-bottom: 4rem; /* Grid hangs over so compensate with extra padding*/
  height: 100%;
  width: 100%;
  position:fixed; /* Keeps grid from causing scroll in window */
}
button {
    border: 2px solid #222831;
    background-color: #4E525A;
}
button:hover {
  background-color: #7A7E83;
}
button h3 {
  position: relative;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  color: #EEEEEE;
}
